html,body{
    padding: 0px;
    margin: 0px;

}
:root{
    --spoiler-color:#000;
}
.whole-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    
}
.post{
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2px;
}
.spoiler{
    background-color: var(--spoiler-color);
    color: var(--spoiler-color);
    transition: all .5s ease-in;
}
.spoiler:hover{
    background-color: initial;
    color: initial;
    cursor: pointer;
}